In [1]:
import numpy as np
import pandas as pd

In [2]:
!python -V

Python 3.9.17

In [40]:
# You can get the version information using the __version__ field
pd.__version__

'1.5.3'

In [ ]:
# getting the data
#wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

In [5]:
df = pd.read_csv("./housing.csv")

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
# Question 2: How many columns are in the dataset?
df.describe()
index = df.columns
index.values.size
# Answer 10

10

In [18]:
# Question 3: Which columns in the dataset have missing values?
df.isnull().sum()
# Answer total_bedrooms

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [19]:
# Question 4: How many unique values does the ocean_proximity column have?
df.ocean_proximity.nunique()
# Answer 5

5

In [21]:
# Question 5: What's the average value of the median_house_value for the houses located near the bay?
df.median_house_value.describe()
near_bay = df[
    df.ocean_proximity == 'NEAR BAY'
] 
near_bay.median_house_value.describe()
# Answer 259212

count      2290.000000
mean     259212.311790
std      122818.537064
min       22500.000000
25%      162500.000000
50%      233800.000000
75%      345700.000000
max      500001.000000
Name: median_house_value, dtype: float64

In [24]:
# Question 6: 
#    Calculate the average of total_bedrooms column in the dataset.
#    Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
#    Now, calculate the average of total_bedrooms again.
#    Has it changed?
#    Hint: take into account only 3 digits after the decimal point.
df.describe()
df.total_bedrooms.mean() # Output: 537.8705525375618
df['total_bedrooms'].fillna(537.870).mean() # Output: 537.870546996124
# Answer: No it hasn't changed

537.870546996124

In [38]:
# Question 7:
#    Select all the options located on islands.
#    Select only columns housing_median_age, total_rooms, total_bedrooms.
#    Get the underlying NumPy array. Let's call it X.
#    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#    Compute the inverse of XTX.
#    Create an array y with values [950, 1300, 800, 1000, 1300].
#    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#    What's the value of the last element of w?
df.describe()
df_islands = df[
    df.ocean_proximity == 'ISLAND'
]
df_islands = df_islands[['housing_median_age', 'total_rooms', 'total_bedrooms']]
df_islands
X = df_islands.values
X
XTX = (X.T).dot(X)
XTX
y = np.array([950, 1300, 800, 1000, 1300])
y
XTX_inv = np.linalg.inv(XTX)
XTX_inv
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T)
w = w.dot(y)
w
# Answer: 5.69922946

array([23.12330961, -1.48124183,  5.69922946])