In [2]:
import numpy as np

In [3]:
np

In [5]:
!python -V

Python 3.9.17

## Creating (one-dimensional) arrays

In [6]:
# argument is the size of the array
# result is an array with 5 zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [7]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [15]:
# first argument is the size of the array
# second argument is the element you want to fill the array with
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

### Converting a python list

In [17]:
a = np.array([1, 2, 3, 5, 7, 12])
a

array([ 1,  2,  3,  5,  7, 12])

### Accessing array elements

In [18]:
# accessing the third element (note: element index starts at 0)
a[2]

3

In [20]:
a[2] = 10
a

array([ 1,  2, 10,  5,  7, 12])

In [22]:
# create an array with the range from 0 to <argument>
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [25]:
# linspace creates an array filled with numbers between first argument and second argument
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

## Multi-dimensional arrays

In [27]:
# creates an array with 5 rows and 2 columns, filled with zeros
np.zeros((5, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [29]:
# creates an array from a python list
# here we have a list of lists
n = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Accessing elements in a multi-dimensional array

In [30]:
# first index is for row, second is for column
n[0,1]

2

In [31]:
row = 0
column = 1
n[row, column] = 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

### Accessing only rows

In [32]:
# outputs the first row
n[0]

array([ 1, 20,  3])

In [33]:
n[0] = [12, 13, 14]

In [35]:
n

array([[12, 13, 14],
       [ 4,  5,  6],
       [ 7,  8,  9]])

### Accessing only columns

In [37]:
# outputs the first column
n[:,0]

array([12,  4,  7])

In [39]:
# outputs all the rows
n[:]

array([[12, 13, 14],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [40]:
n[:, 2] = [0, 1, 2]
n

array([[12, 13,  0],
       [ 4,  5,  1],
       [ 7,  8,  2]])

## Randomly generated arrays

In [41]:
# generates a 2-dimensional array of size 5 rows and 2 columns
# with random numbers between 0 and 1 
# rand samples from standard uniform distribution
np.random.rand(5, 2)

array([[0.83575882, 0.03277884],
       [0.78785763, 0.34340225],
       [0.79212789, 0.75564912],
       [0.78937584, 0.4326158 ],
       [0.90909093, 0.82098053]])

In [45]:
# when you set the random seed it's possible to reproduce the same "random" values
np.random.seed(2)
np.random.rand(5, 2)

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [47]:
# randn samples from standard normal distribution
np.random.seed(2)
np.random.randn(5, 2)

array([[-0.41675785, -0.05626683],
       [-2.1361961 ,  1.64027081],
       [-1.79343559, -0.84174737],
       [ 0.50288142, -1.24528809],
       [-1.05795222, -0.90900761]])

In [48]:
# creates random numbers between 0 and 100
np.random.seed(2)
100 * np.random.rand(5, 2)

array([[43.59949021,  2.59262318],
       [54.96624779, 43.53223926],
       [42.03678021, 33.0334821 ],
       [20.4648634 , 61.92709664],
       [29.96546737, 26.68272751]])

In [49]:
# creates an array of random integer numbers
np.random.seed(2)
np.random.randint(low=0, high=100, size=(5, 2))

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

## Element-wise operations

In [50]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [52]:
# adds 1 to every element in the array
# be careful, you cannot do this with a normal python list
a + 1

array([1, 2, 3, 4, 5])

In [53]:
a * 2

array([0, 2, 4, 6, 8])

In [54]:
a * 100

array([  0, 100, 200, 300, 400])

In [55]:
a / 100

array([0.  , 0.01, 0.02, 0.03, 0.04])

In [56]:
(10 + (a * 2)) ** 2

array([100, 144, 196, 256, 324])

In [58]:
b = (10 + (a * 2)) ** 2 / 100
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [59]:
# adds element-wise both arrays
a + b

array([1.  , 2.44, 3.96, 5.56, 7.24])

## Comparison operations

In [62]:
# compare numbers element-wise
a >= 2

array([False, False,  True,  True,  True])

In [65]:
a > b

array([False, False,  True,  True,  True])

In [66]:
# checks which elements of a are greater than b
# a > b -> returns an boolean array
# a[a > b] returns the elements where the boolean array is true
# that are the elements 2, 3, and 4
a[a > b]

array([2, 3, 4])

In [69]:
a[2], a[3], a[4]

(2, 3, 4)

## Summarizing operations

In [71]:
# there are some operations that instead of returning a new array, it returns a single number
# e.g. min() returns the smallest number 
a.min()

0

In [72]:
a.max()

4

In [73]:
a.sum()

10

In [74]:
a.mean()

2.0

In [76]:
# standard deviation
a.std()

1.4142135623730951

In [77]:
# this also works for 2-dimensional arrays
n.sum()

52

In [78]:
n.min()

0

For more information about numpy functions check this links

https://www.datacamp.com/cheat-sheet/numpy-cheat-sheet-data-analysis-in-python

https://mlbookcamp.com/article/numpy

https://gist.github.com/ziritrion/9b80e47956adc0f20ecce209d494cd0a#numpy