In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('hw03-cars.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
base = ['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg']
df_base = df[base]
df_base

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18
...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17

## Data preparation
- Select only the features from above and transform their names using next line:
        data.columns = data.columns.str.replace(' ', '_').str.lower()
- Fill in the missing values of the selected features with 0
- Rename MSRP variable to price.

In [4]:
df_base.columns = df_base.columns.str.replace(' ', '_').str.lower()
df_base

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18
...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17

In [5]:
df_base.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [6]:
# Fill in the missing values of the selected features with 0
df_base.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
dtype: int64

In [7]:
df_base = df_base.fillna(0.0)
df_base.isnull().sum()
#df_base[df_base.engine_hp.isnull()]

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
dtype: int64

In [8]:
df = df.rename(columns={'MSRP': 'price'})
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'price'],
      dtype='object')

## Question 1 - Answer: AUTOMATIC
What is the most frequent observation (mode) for the column transmission_type?

- AUTOMATIC
- MANUAL
- AUTOMATED_MANUAL
- DIRECT_DRIVE

In [9]:
df_base.transmission_type.mode()
# Output: 
# 0    AUTOMATIC
# Name: transmission_type, dtype: object

#df_base.transmission_type.describe()
# Output: 
# count         11914
# unique            5
# top       AUTOMATIC
# freq           8266
# Name: transmission_type, dtype: object

0    AUTOMATIC
Name: transmission_type, dtype: object

## Question 2 - Answer: highway_mpg and city_mpg
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

- engine_hp and year
- engine_hp and engine_cylinders
- highway_mpg and engine_cylinders
- highway_mpg and city_mpg

In [10]:
df_base.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [11]:
numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
df_base[numerical]

       year  engine_hp  engine_cylinders  highway_mpg  city_mpg
0      2011      335.0               6.0           26        19
1      2011      300.0               6.0           28        19
2      2011      300.0               6.0           28        20
3      2011      230.0               6.0           28        18
4      2011      230.0               6.0           28        18
...     ...        ...               ...          ...       ...
11909  2012      300.0               6.0           23        16
11910  2012      300.0               6.0           23        16
11911  2012      300.0               6.0           23        16
11912  2013      300.0               6.0           23        16
11913  2006      221.0               6.0           26        17

[11914 rows x 5 columns]

In [12]:
df_base[numerical].corr().abs()

                      year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year              1.000000   0.338714          0.040708     0.258240  0.198171
engine_hp         0.338714   1.000000          0.774851     0.415707  0.424918
engine_cylinders  0.040708   0.774851          1.000000     0.614541  0.587306
highway_mpg       0.258240   0.415707          0.614541     1.000000  0.886829
city_mpg          0.198171   0.424918          0.587306     0.886829  1.000000

### Make price binary

- Now we need to turn the price variable from numeric into a binary format.
- Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [13]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,price
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [14]:
avg = df.price.mean()
# Output: 40594.737032063116
price = df.price
above_average = price > avg
above_average.astype(int)
df['above_average'] = above_average.astype(int)
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,price,above_average
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,1
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,1
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350,0
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450,0
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120,1
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670,1
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620,1
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920,1
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995,0

### Split the data

- Split your data in train/val/test sets with 60%/20%/20% distribution.
- Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
- Make sure that the target value (above_average) is not in your dataframe.

In [15]:
from sklearn.model_selection import train_test_split

df_base['above_average'] = above_average.astype(int)

df_full_train, df_test = train_test_split(df_base, test_size=0.2, random_state=42)
#len(df_full_train), len(df_test)

df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
#len(df_train), len(df_val)

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [16]:
# to reset the shuffled index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

# Now we need to get our y variables
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

# deleting churn from dataframes
# remember we're doing this to avoid accidentially using this variable when building a model
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [17]:
df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20
...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,2016,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18
7144,Chevrolet,HHR,2009,260.0,4.0,MANUAL,Wagon,29,21
7145,Hyundai,Veracruz,2012,260.0,6.0,AUTOMATIC,4dr SUV,22,17
7146,Mitsubishi,Expo,1993,136.0,4.0,MANUAL,2dr Hatchback,26,19
7147,Ford,Taurus,2015,365.0,6.0,AUTOMATIC,Sedan,25,17

### Question 3 - Answer: transmission_type    0.02

- Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
- Round the scores to 2 decimals using round(score, 2).

Which of these variables has the lowest mutual information score?

- make
- model
- transmission_type
- vehicle_style

In [18]:
from sklearn.metrics import mutual_info_score

df_train.dtypes
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']

df_train_plusT = df_train
df_train_plusT['above_average'] = y_train

def mutual_info_price_score(series):
    return mutual_info_score(series, df_train_plusT.above_average)

round(df_train[categorical].apply(mutual_info_price_score),2)

make                 0.24
model                0.46
transmission_type    0.02
vehicle_style        0.08
dtype: float64

## Question 4 - Answer: 0.95

- Now let's train a logistic regression.
- Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
- Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
- Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

- 0.60
- 0.72
- 0.84
- 0.95

In [19]:
from sklearn.feature_extraction import DictVectorizer

train_dicts = df_train[categorical + numerical].to_dict(orient='records')
train_dicts

dv = DictVectorizer(sparse=False)
dv.fit(train_dicts)
X_train = dv.transform(train_dicts)
X_train = dv.fit_transform(train_dicts)
X_train.shape

(7148, 943)

In [20]:
val_dicts = df_val[categorical + numerical].to_dict(orient='records')
# here we only use transform
X_val = dv.transform(val_dicts)

In [21]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_val)
y_pred

array([0, 1, 0, ..., 0, 1, 1])

In [23]:
acc = round((y_pred == y_val).mean(), 10)
round(acc, 2)

0.95

# Question 5 - Answer: year
- Let's find the least useful feature using the feature elimination technique.
- Train a model with all these features (using the same parameters as in Q4).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

- year
- engine_hp
- transmission_type
- city_mpg

Note: the difference doesn't have to be positive

In [24]:
categorical
# Output: ['make', 'model', 'transmission_type', 'vehicle_style']

numerical
# Output: ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

acc_orig = acc

In [25]:
features = categorical + numerical
len(features)
#features.remove(features[0])
#features

for i in range(0, len(features)):
    feature_set = features.copy()
    feature_set.remove(features[i])

    train_dicts = df_train[feature_set].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    #dv.fit(train_dicts)
    #X_train = dv.transform(train_dicts)
    X_train = dv.fit_transform(train_dicts)

    val_dicts = df_val[categorical + numerical].to_dict(orient='records')
    # here we only use transform
    X_val = dv.transform(val_dicts)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)
    acc = round((y_pred == y_val).mean(), 10)
    print("Accuracy without %s: %.10f" % (features[i], acc))
    print("Difference between original model and this one: %.10f" % (acc_orig-acc))

Accuracy without make: 0.9425094419
Difference between original model and this one: 0.0046160302
Accuracy without model: 0.9240453210
Difference between original model and this one: 0.0230801511
Accuracy without transmission_type: 0.9450272765
Difference between original model and this one: 0.0020981956
Accuracy without vehicle_style: 0.9412505245
Difference between original model and this one: 0.0058749476
Accuracy without year: 0.9475451112
Difference between original model and this one: -0.0004196391
Accuracy without engine_hp: 0.9248845992
Difference between original model and this one: 0.0222408729
Accuracy without engine_cylinders: 0.9471254721
Difference between original model and this one: 0.0000000000
Accuracy without highway_mpg: 0.9471254721
Difference between original model and this one: 0.0000000000
Accuracy without city_mpg: 0.9324381032
Difference between original model and this one: 0.0146873689

# Question 6 - Answer 0
- For this question, we'll see how to use a linear regression model from Scikit-Learn.
- We'll need to use the original column price. Apply the logarithmic transformation to this column.
- Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
- This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].
- Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

- 0
- 0.01
- 0.1
- 1
- 10

Note: If there are multiple options, select the smallest alpha.

In [26]:
df_ridge = df.copy()
df_ridge.columns = df_ridge.columns.str.replace(' ', '_').str.lower()
#del df_ridge['above_average']
del df_ridge['engine_fuel_type']
del df_ridge['driven_wheels']
del df_ridge['number_of_doors']
del df_ridge['market_category']
del df_ridge['vehicle_size']
del df_ridge['popularity']

df_ridge = df_ridge.fillna(0.0)

df_ridge.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
above_average        0
dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df_ridge, test_size=0.2, random_state=42)
#len(df_full_train), len(df_test)

df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
#len(df_train), len(df_val)

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [28]:
# to reset the shuffled index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

# Now we need to get our y variables
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

# deleting price from dataframes
# remember we're doing this to avoid accidentially using this variable when building a model
del df_train['price']
del df_val['price']
del df_test['price']

In [29]:
def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [32]:
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer

alphas = [0, 0.01, 0.1, 1, 10]

for a in alphas:
    train_dicts = df_train[categorical + numerical].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(train_dicts)

    val_dicts = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dicts)

    model = Ridge(alpha=a, solver='sag',max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)

    se = (y_val - y_pred) ** 2
    mse = se.mean()
    rmse = np.sqrt(mse)
    #rmse = rmse(y_val, y_pred)
    #print (y_val, y_pred)
    print("Alpha: %s RMSE: %.6f" % (a, rmse))

/home/peter/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Alpha: 0 RMSE: 0.486794

/home/peter/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Alpha: 0.01 RMSE: 0.486795

/home/peter/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Alpha: 0.1 RMSE: 0.486797

/home/peter/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Alpha: 1 RMSE: 0.486818
Alpha: 10 RMSE: 0.487032

/home/peter/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [33]:
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer

alphas = [0, 0.01, 0.1, 1, 10]

for a in alphas:
    train_dicts = df_train[categorical + numerical].to_dict(orient='records')

    dv = DictVectorizer(sparse=True)
    X_train = dv.fit_transform(train_dicts)

    val_dicts = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dicts)

    model = Ridge(alpha=a, solver='sag',max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)

    se = (y_val - y_pred) ** 2
    mse = se.mean()
    rmse = np.sqrt(mse)
    #rmse = rmse(y_val, y_pred)
    #print (y_val, y_pred)
    print("Alpha: %s RMSE: %.3f" % (a, rmse))

Alpha: 0 RMSE: 0.255
Alpha: 0.01 RMSE: 0.255
Alpha: 0.1 RMSE: 0.255
Alpha: 1 RMSE: 0.258
Alpha: 10 RMSE: 0.336